body {
  padding-top: 90px;
  position: relative;
}

.navbar-fixed-top .brand {
  font-family: "PT Sans Narrow","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

footer {
  border-top: 1px solid #e5e5e5;
  margin-top: 60px;
  padding: 39px 0 40px;
}

footer p {
  color: #555;
  margin-bottom: 0;
}

.hero {
  margin-bottom: 80px;
  padding-top: 40px;
  position: relative;
  text-align: center;
}

.hero h1 {
  font-size: 80px;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 20px;
}

.hero p.lead {
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 40px;
}

/* Resume
------------------------------------------------------------*/
.resume h1,
.resume h2,
.resume h3,
.resume h4 {
  margin-top: 0;
}

.resume h1 {
  font-size: 60px;
  letter-spacing: -1px;
  line-height: 1;
}

.resume h2 {
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
}

.resume h3,
.resume h4 {
  font-size: 24px;
  line-height: 40px;
}

.resume h5 {
  font-size: 20px;
}

.resume h5,
.resume .experience .term p {
  line-height: 40px;
}

.resume .contact {
  font-size: 18px;
  margin-top: 30px;
}

.resume .contact p {
  margin-bottom: 0;
}

.resume .technical p {
  line-height: 40px;
  margin-bottom: 0;
}

.resume .technical hr {
  margin: 9px 0;
}

.resume .experience .term p {
  font-weight: bold;
  margin-bottom: 0;
}

.resume .experience ul {
  margin-left: 0;
}

/* Responsive Styles
------------------------------------------------------------*/
@media (max-width: 480px) {
  body {
    padding-top: 70px;
  }

  .hero {
    padding-top: 0;
  }

  .hero h1 {
    font-size: 45px;
  }

  .hero p {
    font-size: 18px;
    line-height: 20px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  body {
    padding-top: 0;
  }

  .resume .technical hr {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .hero h1 {
    font-size: 54px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  body {
    padding-top: 0;
  }

  .hero h1 {
    font-size: 72px;
  }
}

@media (max-width: 979px) {
  .resume h1 {
    font-size: 40px;
  }

  .resume h2 {
    font-size: 20px;
    line-height: 30px;
  }

  .resume h3,
  .resume h4 {
    font-size: 18px;
  }

  .resume h5 {
    font-size: 14px;
  }

  .resume .technical p {
    line-height: 20px;
  }

  .resume h5,
  .resume .experience .term p {
    line-height: 20px;
  }

  .resume .contact {
    font-size: 14px;
    margin-top: 0;
  }
}

@media print {
  .navbar-fixed-top {
    display: none;
  }

  footer {
    display: none;
  }
}
