body {
  background-color: #fff;
  padding-top: 90px;
  position: relative;
}

.navbar-fixed-top .brand {
  color: black;
  float: right;
  font-weight: bold;
  margin-left: 20px;
  padding-left: 0;
  padding-right: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}

footer {
  border-top: 1px solid #e5e5e5;
  margin-top: 54px;
  padding: 35px 0 36px;
}

footer p {
  color: #555;
  margin-bottom: 0;
}

.hero {
  margin-bottom: 72px;
  padding-top: 36px;
  position: relative;
  text-align: center;
}

.hero h1 {
  font-size: 81px;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 18px;
}

.hero p {
  font-size: 30px;
  font-weight: 300;
  line-height: 36px;
  margin-bottom: 18px;
  margin-left: 5%;
  margin-right: 5%;
}

.resume h1 {
  font-size: 54px;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 9px;
}

.resume h2 {
  font-size: 30px;
  font-weight: 300;
  line-height: 36px;
}

.resume h3, .resume h4 {
  font-size: 24px;
  line-height: 36px;
}

.resume h5 {
  font-size: 18px;
}

.resume h5, .resume .experience .term p {
  line-height: 27px;
}

.resume .download {
  height: 36px;
  margin: 9px 0;
}

.resume .download .btn {
  margin-top: 10px;
}

.resume .contact p {
  margin-bottom: 0;
}

.resume .technical p {
  line-height: 36px;
  margin-bottom: 0;
}

.resume .technical hr {
  margin: 9px 0;
}

.resume .experience ul {
  margin-left: 0;
}

@media (max-width: 480px) {
  body {
    padding-top: 70px;
  }

  .hero {
    padding-top: 0;
  }

  .hero h1 {
    font-size: 45px;
  }

  .hero p {
    font-size: 18px;
    line-height: 24px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  body {
    padding-top: 0;
  }

  .resume .technical hr {
    display: none;
  }

  .resume .technical p {
    line-height: 18px;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .hero h1 {
    font-size: 54px;
  }

  .hero p {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 768px) and (max-width: 980px) {
  body {
    padding-top: 0;
  }

  .hero h1 {
    font-size: 72px;
  }

  .resume .download {
    margin-top: 0;
  }
}

@media (max-width: 980px) {
  .navbar-fixed-top .brand {
    float: left;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .resume h1 {
    font-size: 36px;
  }

  .resume h2 {
    font-size: 18px;
    line-height: 18px;
  }

  .resume h3, .resume h4 {
    font-size: 18px;
  }

  .resume h5 {
    font-size: 13px;
  }`
}
