body {
  background-color: #f5f5f5;
  position: relative;
}

.page-content {
  background-color: white;
  border-bottom: solid 1px #e3e3e3;
  padding: 110px 0 59px 0;
}

.navbar-fixed-top .navbar-brand {
  font-family: "PT Sans Narrow","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

footer {
  color: #777;
  padding: 60px 0;
}

.hero {
  margin-bottom: 80px;
  padding-top: 40px;
  position: relative;
  text-align: center;
}

.hero h1 {
  font-family: "PT Sans Narrow","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 20px;
}

.hero p.lead {
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 40px;
}

/* Resume
------------------------------------------------------------*/
.resume h1 {
  font-family: "PT Sans Narrow","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.resume h2,
.resume h3,
.resume h4,
.resume h5 {
  font-weight: 300;
  margin-top: 0;
}

.resume h2 {
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 0;
}

.resume h3,
.resume h4 {
  font-size: 24px;
  line-height: 40px;
}

.resume h5 {
  font-size: 20px;
}

.resume section {
  border-top: 1px solid #eee;
  margin-top: 20px;
  padding-top: 19px;
}

.resume h5,
.resume .experience .term p {
  line-height: 40px;
}

.resume .download {
  line-height: 60px;
  vertical-align: middle;
}

.resume .contact,
.resume .contact p {
  margin-bottom: 0;
}

.resume .technical p {
  line-height: 40px;
  margin-bottom: 0;
}

.resume .technical hr {
  margin: 9px 0;
}

.resume .experience .term p {
  margin-bottom: 0;
}

.resume .experience ul {
  margin-bottom: 20px;
  padding-left: 0;
}

.resume .experience ul:last-child {
  margin-bottom: 0;
}

/* Responsive Styles
------------------------------------------------------------*/
@media screen and (max-width: 480px) {
  body {
    padding-top: 70px;
  }

  .hero {
    padding-top: 0;
  }

  .hero h1 {
    font-size: 45px;
  }

  .hero p {
    font-size: 18px;
    line-height: 20px;
  }
}

@media screen and (max-width: 767px) {
  body {
    padding-top: 0;
  }

  .resume .technical hr {
    display: none;
  }

  .resume h2,
  .resume h3,
  .resume h4,
  .resume h5,
  .resume .experience .term p {
    font-weight: bold;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero h1 {
    font-size: 54px;
  }
}

@media screen and (min-width: 768px) and (max-width: 979px) {
  body {
    padding-top: 0;
  }

  .hero h1 {
    font-size: 72px;
  }
}

@media screen and (max-width: 979px) {
  .resume h1 {
    font-size: 40px;
  }

  .resume h2 {
    font-size: 20px;
    line-height: 30px;
  }

  .resume h3,
  .resume h4 {
    font-size: 18px;
  }

  .resume h5 {
    font-size: 14px;
  }

  .resume .technical p {
    line-height: 20px;
  }

  .resume h5,
  .resume .experience .term p {
    line-height: 20px;
  }

  .resume .contact {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
  }
}

@media print {
  /*
    Custom Bootstrap
    ----------------
    @gridColumnWidth: 0.531in
    @gridGutterWidth: 0.177in
    @baseFontSize: 11pt
    @baseLineHeight: 16pt
  */
  @page {
    size: 8.5in 11in;
    margin: 1in 0.75in;
  }

  body {
    /*font-family: 'PT Serif', serif;*/
    padding: 0;
  }

  .navbar-fixed-top,
  footer,
  .resume .download {
    display: none;
  }

  .resume h2,
  .resume h3,
  .resume h4 {
    font-size: 16pt;
    line-height: 32pt;
  }

  .resume h2,
  .resume h3,
  .resume h4,
  .resume h5 {
    font-weight: normal;
  }

  .resume h1 {
    font-size: 32pt;
  }

  .resume section {
    border-top: 1px solid black;
    margin-top: 16pt;
    padding-top: 16pt;
  }

  .resume hr {
    border-top-color: black;
    border-bottom: 0;
    margin: 8pt 0;
  }

  .resume .contact p {
    font-size: 13.75pt;
    font-weight: normal;
    line-height: 16pt;
  }

  .resume .technical p {
    line-height: 32pt;
    margin-bottom: 0;
  }

  .resume h5,
  .resume .experience .term p {
    font-size: 13.75pt;
    font-weight: normal;
    line-height: 16pt;
  }
  
  .resume .experience ul {
    margin-bottom: 16pt;
    margin-left: 0;
  }

  .resume .experience ul:last-child {
    margin-bottom: 0;
  }
  
  .resume .contact p,
  .resume .experience .term p {
    margin-bottom: 0;
  }

  a[href]:after {
    content: none !important;
  }
}
