<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} &ndash; {% endif %}Gabriel Boyer</title>
    <meta name="description" content="Home page for Gabriel Boyer, with links to various parts of my identity on the Web.">
    <meta name="author" content="Gabriel Boyer">
    <meta name="viewport" content="width=device-width">
    <link rel="me" type="text/html" href="http://www.google.com/profiles/gboyer">
    <link rel="openid2.provider" href="https://www.google.com/accounts/o8/ud?source=profiles">
    <link rel="openid2.local_id" href="http://www.google.com/profiles/gboyer">
    <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/css/bootstrap.print.min.css" media="print">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Serif" media="print">
    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/" title="That's me.">Gabriel Boyer</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li {% if page.url == '/resume.html' %}class="active"{% endif %}>
                <a href="/resume.html" title="Hiring?">R&eacute;sum&eacute;</a>
              </li>
              <li class="divider-vertical"></li>
              <li><a href="mailto:{{ site.email }}" title="{{ site.email }}" rel="me">Email</a></li>
              <li><a href="http://twitter.com/gboyer" title="@gboyer on Twitter" rel="me">Twitter</a></li>
              <li><a href="http://github.com/gabe" title="gabe on GitHub" rel="me">GitHub</a></li>
              <li><a href="http://www.google.com/profiles/gboyer" title="Gabriel Boyer on Google+" rel="me">Google+</a></li>
              <li><a href="http://www.linkedin.com/in/gabrielboyer" title="Gabriel Boyer on LinkedIn" rel="me">LinkedIn</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="content">
        {{ content }}
      </div>
      <footer>
        <p class="pull-right">
          <a href="#">Back to top</a>
        </p>
        <p>
          <a href="https://twitter.com/gboyer" class="twitter-follow-button" data-show-count="true" data-width="190px">Follow @gboyer</a>
        </p>
      </footer>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/application.js"></script>
    <script src="//platform.twitter.com/widgets.js"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-40009452-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
  </body>
</html>
