<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} &ndash; {% endif %}Gabriel Boyer</title>
    <meta name="description" content="Home page for Gabriel Boyer.">
    <meta name="author" content="Gabriel Boyer">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="me" type="text/html" href="https://keybase.io/gabrielboyer">
    <link rel="openid2.provider" href="https://www.google.com/accounts/o8/ud?source=profiles">
    <link rel="openid2.local_id" href="http://www.google.com/profiles/gboyer">
    <link rel="stylesheet" href="/tufte.min.css">
    <style type="text/css" media="print">
      @page { margin: 3cm; }
      html { font-size: 11px; }
      body { margin: 0; max-width: none; padding: 0; width: 100%; }
      article { padding: 0; }
      h1 { margin-top: 1.5rem; }
      a.print-title:after { content: " (" attr(title) ")"; }
      @media (max-width: 760px) {
        section > footer,
        section > p,
        section > table { width: 70%; }
        .marginnote,
        .sidenote { display: block; margin-right: -45%; width: 35%; }
      }
    </style>
  </head>
  <body>
    {{ content }}
  </body>
</html>
